.dead {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
}

.alive {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background-color: green;
    border: 1px solid black;
}

.game-field {
    margin: 0 auto;
}

.control {
    width: 15%;
    margin: 0 auto;
    text-align: center;
}

.control__height,
.control__width {
    width: 30px;
}