doctype html
html
    head
        meta(charset="utf-8")
        meta(name="keywords" content="game conway life")
        meta(name="description" content="A game of Life by Axent13")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        title Game Of Life by Axent13
        link(rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="../static/style.css")
    body
        table.game-field.js-game-field
        form.control
            label Высота
                input.control__height.js-control__height(type="text" maxlength="3" placeholder="30")
            label Ширина
                input.control__width.js-control__width(type="text" maxlength="3" placeholder="30")
            button.start-button.js-start-button Начать
            button.pause-button.js-pause-button(disabled='') Пауза